<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('vendors') }}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'navbar.html.twig' %}

        <main class="container py-5">
            {% block flashes %}
                {% if app.session.flashbag.peekAll|length > 0 %}
                    {% for type, messages in app.session.flashbag.all %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% endblock %}

            {% block body %}{% endblock %}
        </main>

        {% block javascripts %}
            {{ encore_entry_script_tags('vendors') }}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
