{% extends 'base.html.twig' %}

{% block title %}User Detail{% endblock %}

{% block body %}
    <div class="page-title mb-4">
        {% if user.name %}
            <h2>
                <ruby>
                    <rb>{{ user.name.lastName }}</rb>
                    <rt>{{ user.name.lastNameKana }}</rt>
                </ruby>
                <ruby>
                    <rb>{{ user.name.firstName }}</rb>
                    <rt>{{ user.name.firstNameKana }}</rt>
                </ruby>
                <small class="text-muted">{{ user.username }}</small>
            </h2>
        {% else %}
            <h2>{{ user.username }}</h2>
        {% endif %}
    </div>
    <ul>
        <li>
            <b>Student ID:</b>
            {{ user.studentId }}
        </li>
        <li>
            <b>Birthday:</b>
            {{ user.birthday | date('Y/m/d') }}
        </li>
    </ul>
{% endblock %}
